.btn_start, .quiz_box, .score_box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.quiz_box{
    width: 550px;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all .5s ease;
    opacity: 0;
    pointer-events: none;
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .question_text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.quiz_box .option_list{
    padding: 18px 0;
}

.quiz_box .option{
    border: 1px solid #151d3b;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box .option.correct{
    color: #155724;
    background-color: #d3edda;
}

.quiz_box .option.incorrect{
    color: #721c24;
    background-color: #f8d7da;
}
.quiz_box .option:hover{
    color: #112b2c;
    background-color: #ffd33d;
}

.quiz_box .option_list .option.disabled{
    pointer-events: none;
}

.quiz_box .next_btn {
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: all .3s ease;
}

.quiz_box .next_btn.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* score box */

.score_box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.score_box{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all .5s ease;
    opacity: 0;
    pointer-events: none;
}

.score_box .icon{
    font-size: 50px;
    color: #007bff;
    margin-bottom: 10px;
    text-shadow: 2px 0px 5px rgba(150, 150, 150, 0.8);
}

.score_box .score_text{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}