@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: slategray;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty{
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background-color: whitesmoke;
}

.fill{
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold{
  border: 5px solid #ccc;
}

.hovered{
  background-color: #333;
  border-color: whitesmoke;
  border-style: dashed;
}


@media(max-width:800px){
  body{
    flex-direction: column;
  }
}