@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #eaeaea, #777, #555);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search{
  position: relative;
  height: 50px;
}

.search .input{
  background-color: #eaeaea;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  transition: width 0.3s ease;
  
}

.btn{
  background-color: #eaeaea;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top:0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  transition: transform 0.3 ease;
}

.btn:focus, 
.input:focus {
  outline: none;
}

.search.active .input{
  width: 200px;
  border-radius: 8px 0 0 8px;
}

.search.active .btn{
  transform: translateX(200px);
  border-radius: 0 8px 8px 0;
}
