@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #DCD7C9;
  --dark-grey: #222831;
}
/*Root renklerimi kullanmadım. Projede kullandığım renk paleti https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #DCD7C9;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  /* Default template'imize ek olarak ana kapsayıcımız için: */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Default tamplate dışı Css */

.counter-div{
  width: 40rem;
  border: 4px solid #2C3639;
  padding: 1rem;
  background-color: #3F4E4F;
  color: var(--grey);
  text-align: center;
  border-radius: 8px;
}

hr{
  border:2px solid #2C3639;
}

/* counter-div içerisindeki bütün child'lara ulaşmak için */

.counter-div > * {
  margin-bottom: 2rem;
}

.count{
  font-size: 4rem;
}

.buttons button{
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  color: var(--grey);
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

button.subtract{
  /* Netflix kırmızısı */
  background-color: #E50914;
}

button.reset{
  background-color: var(--grey);
  color: var(--black);
}

button.add{
  /* Whatsapp yeşili */
  background-color: #25D366;
}