@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --dark-blue: #31326f;
  --blue: #42C2FF;
  --white-blue: #EFFFFD; 
  --light-blue: #85F4FF;
  --lighter-blue: #B8FFF9;
  --light-gray-blue: #a7b9e3;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

/* Renk paletim: https://colorhunt.co/palette/effffdb8fff985f4ff42c2ff */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  height: 100vh;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

header{
  text-align: center;
  color: var(--white-blue);
  padding-bottom: 3rem;
}

header h1{
  font-size: 7rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1.5px;
}

header p{
  font-size: 3.5rem;
  margin-top: 1rem;
}

header h1 span{
  font-weight: 700;
}

img {
  width: 100%;
}

section .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form button{
  outline: none;
  border: 1px solid var(--white-blue);
  padding: 12px 24px;
  font-size: 2rem;
  font-weight: 700;
  background-color: transparent;
  color: var(--white-blue);
  border-radius: 5px;
  transition: all .3s;
  cursor: pointer;
}

form button:hover{
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: 1px solid var(--light-blue); 
}

.modal{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.modal-content {
  width: 80%;
  max-width: 80rem;
  background-color: var(--white-blue);
  border-radius: 25px;
  margin: 15% auto;
  padding: 2rem;
  text-align: center;
  /* keyframes özelliği ile animasyon alacak kapsayıcı bu olduğu için animation özelliklerini aşağıda veriyoruz animasyonİsmi/davranış/süre */
  animation: slide ease .8s;
}

.modal-content h2, .modal-content p{
  color: var(--black);
  margin: 10px;
  padding: 10px;
}

.modal-content h2{
  font-size: 3rem;
}

.modal-content p{
  font-size: 2rem;
}

@keyframes slide{

  0%{
    transform: translateY(-100rem);
  }

  100%{
    transform: translateY(0);
  }
  
}

.close{
  /* position: absolute;
  top: 5px;
  right: 10px; */
  margin: 0 0 40% 95%;
  padding: 2px 4px;
  color: var(--black);
  font-size: 3rem;
  cursor: pointer;
}

/* modal-content'e JS ile kapatılacağında aşağıdaki sınıfı ve sınıf içerisindeki animasyon/keyframes özelliğini veriyoruz */
.slide-up{
  animation: slide-up ease .8s;
}

@keyframes slide-up{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100rem);
  }
}