:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-pinky: #FC4F4F;
  --light-warm: #FFBC80;
  --color-primary: #FF9F45;
  --color-sec: #F76E11;
  --grey: #d5d5d5;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, var(--color-sec), var(--color-primary), var(--light-warm), var(--light-pinky));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container label{
    color: var(--white) !important;
    font-weight: 600;
}

h1{
  background-color: var(--black);
}
