@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #0073B1;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #DCD7C9;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  /* Default template'imize ek olarak ana kapsayıcımız için: */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Default tamplate dışı Css */

.generator-div{
  width: 60rem;
  padding: 5rem;
  /*divin şeffaf bir hal alması için*/
  background-color:  rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  /* . */
  color: var(--black);
  text-align: center;
  border-radius: 45px 10px 45px 10px;
}

.generator-div h1{
  margin-bottom: 3.5rem;
}

hr{
  margin-top: 20px;
  border:2px solid var(--black);
}

/* counter-div içerisindeki bütün child'lara ulaşmak için */

.generator-div > * {
  margin-bottom: 2rem;
}

.number{
  font-size: 4rem;
  background-color:  rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border: 2px solid var(--dark-grey);
  border-radius: 8px 25px 8px 25px;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
}

.buttons button{
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  color: var(--grey);
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.generate{
  display: inherit;
  align-items: center;
}

button.generate{
  background-color: var(--grey);
  color: var(--black);
  transition: 0.3s;
}

.generate i{
  font-size: 2rem;
  margin-right: .5rem;
}

button.generate:hover{
  background-color: var(--white) !important;
  box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75) !important;
}

@media screen and (max-width: 650px) {
  .generator-div{
    width: 40rem;
  }
}