@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #141d26;
  --secondary-color: #243447;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

#form{
  position: relative;
}

#form:hover .search-btn{
  transform: translateX(0);
}

.btn{
  background-color: #eee;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  outline: none;
  border: none;
  padding: .75rem 1.5rem;
  border-radius: 50px;
  transition: all .3s;
}

.btn i{
  margin-right: 10px;
}

.btn:hover{
  cursor: pointer;
  background-color: var(--primary-color);
  color: #eee;
}

.search-btn{
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid var(--primary-color);
  text-transform: uppercase;
  transform: translateX(150%);
}

.search-btn i{
  margin: 0;
}

.search-btn:hover {
  background-color: #c51f5d;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  color: #fff;
  transition: background-color 0.3s;
}

.search::placeholder {
  color: #c51f5d;
  font-weight: 600;
  font-size: 1.2rem;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie {
  width: 400px;
  margin: 1rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.movie-info{
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem 1rem;
  letter-spacing: .5px;
}

.movie-info h3{
  margin-top: 0;
}

.movie-info span{
  background-color: var(--primary-color);
  padding: .25rem .5rem;
  border-radius: 5px;
  font-weight: 600;
}


.movie-info span.green{
  color: rgb(81, 241, 81);
}

.movie-info span.orange{
  color: orange;
}

.movie-info span.red{
  color: red;
}

.overview{
  background-color: #eee;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform .4s ease-in;
}

.overview p{
  font-size: large;
  font-weight: 600;
}

.movie:hover .overview{
  transform: translateY(0);
  cursor: pointer;
}